.top-container{
    padding-top: 15%;
    /*background-color: brown;*/
}

input[type="text"]{
    width: 500px;
}

html, body{
    height: 100%;
}

.general-container{
    background-color: lightgrey;
    height: 100%;
    text-align: center;
    /*line-height: 100px;*/
}

.center-block{
    width: 100%;
}